
.centro{
    background: linear-gradient(#FEFCF3, #F5EBE0);
    background-repeat: no-repeat;
    color: #181D31;
    font-family: 'Poppins', sans-serif;
}

.treinaimg{
    border-radius: 100%;
}

.nav1{
    background-color: #0A2647;
    position: fixed;
}

.div1{
    font-size: 20px;
}

.perfil{
    border-radius: 100%;
    float: left;
    margin: 10px;
}

table, tr, td{
    width: 50vw;
    border: black solid 1px ;
    border-collapse: collapse;
    padding: 5px;
}

.linkedin{
    transition: 0.3s ease-in-out;
}
.linkedin:hover{
    width: 40px;
    height: 40px;
}

a{
    transition: 80ms;
}
a:hover{
    font-size: 125%;
}

hr{

    border-style: dotted none none none;
    border-width: 5px;
    height: 1px;
    width: 20%;
    border-color: hsl(235, 16%, 30%);

}

.conteudo1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}


.conteudo2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.content{
    background-color: #181D31;
}

